{% extends 'base.html.twig' %}
{% block titulo %}Inicio - CyM{% endblock %}

{% block scripts %}

{% if app.user != "" %} 
	<script src="{{ asset('scripts/Chart.js')}}"></script>
	<script>
	var radarChartData = {
	    labels: ["Atención", "Memoria", "Percepción", "Ejecución", "Rapidez", "Concentración", "Relajación"],
	    datasets: [{
	            label: "My First dataset",
	            fillColor: "rgba(120,200,0,0.01)",
	            strokeColor: "rgba(120,200,0,1)",
	            pointColor: "rgba(120,200,0,0)",
	            pointStrokeColor: "rgba(120,200,0,0)",
	            pointHighlightFill: "rgba(120,200,0,0)",
	            pointHighlightStroke: "rgba(120,200,0,0)",
	            data: [10, 10, 10, 10, 10, 10, 10]
	        },
	        {
	            label: "My Second dataset",
	            fillColor: "rgba(185,132,206,0.4)",
	            strokeColor: "rgba(56,3,57,1)",
	            pointColor: "rgba(56,3,57,1)",
	            pointStrokeColor: "#fff",
	            pointHighlightFill: "#fff",
	            pointHighlightStroke: "rgba(56,3,57,1)",
	            data: [7, 5, 7, 9, 8, 8, 7]
	        }
	    ]
	};

	window.onload = function() {
	    window.myRadar = new Chart(document.getElementById("canvasCM").getContext("2d")).Radar(radarChartData, {
	        responsive: false
	    });
	}
	</script>
{% endif %}

{% endblock %}
{% block main %}
    <!-- SLIDER -->
    <section> 
        <div id="slider">
            <div id="contenidoSl">
                <div id="banner1">
                    <h2>SLIDER 1 </h2>
                </div>
                <div id="banner2">
                    <img src="{{ asset('svg/sl2.svg')}}" id="sl2">
                </div>
                <div id="banner3">
                    <h2>SLIDER 3</h2>
                </div>
                <div id="banner4">
                    <h2>SLIDER 4</h2>
                </div>
            </div>
        </div>
    </section>
    {% if app.user == "" %} 
        {% block quees %}
            <!-- QUÉ ES CyM -->
        {% endblock %}
    {% else %}
        {% block perfil %}
            <!-- PERFIL -->
        {% endblock %}
    {% endif %}
    {% block top10 %}
        <!-- TOP10 -->
    {% endblock %}     
    {% block novedades %}
        <!-- NOVEDADES -->
    {% endblock %} 
    {% if app.user == "" %}
        {% block seccion4anon %}
            <!-- SECCION 4 ANNONIM -->
        {% endblock %}
    {% else %}
        {% block seccion4 %}
            <!-- SECCION 4 USUARIO -->
        {% endblock %}
    {% endif %}
    
{% endblock %}

            

