main{
	text-align: justify;
}
#canvasGrafica{
	display: block;
	margin: 10px auto;
	width: 90%;
	height: 300px;
}
#canvas, iframe{
	width: 90%;
	height: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#canvas{
	border:1px solid black;
}