main{
	text-align: justify;
}
#canvasGrafica{
	display: block;
	margin: 20px auto;
	width: 90%;
	height: 300px;
}
#canvas, iframe{
	width: 700px;
	height: 400px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
	margin: 20px auto;
}
.botonRealizar{
	font-size: 30px;
	text-align: center;
	display: block;
	padding: 20px;
}