main {
	margin: 30px 10px;
}
main #sliderSection { /*slider*/
    display:flex;
    justify-content:center;
}
/* SECCION 1 - QUÉ ES*/
#quees{
	text-align: center;
}
#quees h1{
	margin-bottom: 20px;
}
#imgquees{
	width: 100%;
}
#quees p{
	text-align: justify;
}
#quees a{
	font-size: 35px;
	text-align: center;
	margin: auto;
	cursor: pointer;
	margin-left: 30px;
	color:#560357;
}
#quees .ico{
	width: 45px;
	height: 45px;
	margin-top: 10px;
}
#quees h4{
	margin-top: 10px !important;
	text-align: left;
}
#quees hr{
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #ddd !important;
}
/* SECCION 1 - PERFIL*/
#perfil{
    padding-left: 0;
}
#perfil h1{
    text-align: left;
}
#perfil p{
    padding: 3px;
    margin: 5px 0 0 0;
}
#perfil p label{
    color:#888;
    font-weight: bold;
}
#perfil h3{
    width: 200px;
}
#perfil h3 span{
    color: #560357;
    font-size: 30px;
    display: block;
    margin-left: 60px;
}
#perfil .gris{
    background: #aaa;
}
#perfil .area-capacidad{
	width: 180px;
	margin: 20px auto 21px;
}
#perfil .area-capacidad .area,
#perfil .area-capacidad .puntuacion {
	width: 48%;
	font: 100 13px/15px 'Open Sans';
	display: inline-block;
	vertical-align: top;
	zoom: 1;
}
#perfil .area-capacidad .area {
	margin: 4px 0 -2px 0;
}
#perfil .area-capacidad .puntuacion {
	font: 100 30px 'Open Sans';
	text-align: right;

	color: #888;
}
#perfil .area-capacidad .progress {
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: none;
	margin: 0;
	height: 8px;
	/*border:1px solid rgba(0, 0, 0, 0.13);*/
}
#perfil .area-capacidad .progress .bar {
	background: #14b9d6;
	box-shadow: none;
	height: 8px;
}
/**/
.novedad{
	padding: 1px 10px 0px 0px;	margin-top:5px;
	margin-right:20px;
	border-bottom: 1px solid #ccc;
	float:left;
	display:inline-block;
	text-align:left;
	width: 100%;
}
.novedad img{
	width:40px;
	height:40px;
	background-color:#eee;
	float:left;
	margin-right:10px;
}
.novedad h2{
	font-size:20px !important;
	color:#301050;
	margin-top: 5px;
	text-align: left;
}
.novedad p{
	padding: 10px 0px 5px 20px !important;
	font-size: 14px !important;
	text-align: justify;
}
/* Programas */
.programa{
	height: 170px;
	width: 670px;
	margin: 10px auto;
}
.imgDer, .imgIzq{
	width: 350px;
	height: 170px;
	background-color: #eee;
}
.imgDer{
	float: right;
}
.imgIzq{
	float: left;
}
.textDer, .textIzq{
	height: 170px;
	width: 300px;
	padding: 10px 0 0 10px;
}
.textDer{
	float: right;
}
.textIzq{
	float: left;
}
.programa h2{
	margin: 0px 0 0px 30px;
}
.programa p{
	margin: 0;
	padding-top: 10px !important;
}
.icon{
	width: 25px;
	height: 25px;
	margin: 5px 10px 5px 5px;
}